In [16]:
x=5 # this sign is used for commenting out

In [17]:
x

5

THIS IS MARKDOWN

Float

In [18]:
y=5.0
print(type(y))

<class 'float'>

In [19]:
z="Hello"
print(type(z))

<class 'str'>

String

In [20]:
long_string = "this is long string"
print(long_string[:10])
print(long_string[5:])

this is lo
is long string

Boolean

In [21]:
boolean= True
another_boolean= False

a=1
b=2
a==b

False

Non primitive datatypes

*list*

In [22]:
a_list=[1,2,3,4,5,6,7,8,'kushal']

In [23]:
a_list

[1, 2, 3, 4, 5, 6, 7, 8, 'kushal']

In [24]:
a_list[3]

4

In [25]:
a_list[-1]

'kushal'

In [26]:
a_list[::-1]

['kushal', 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
a_list[::2]

[1, 3, 5, 7, 'kushal']

*tuples*

In [28]:
a_tuple = {1,2,3,4,5}

In [29]:
a_tuple

{1, 2, 3, 4, 5}

In [30]:
a_tuple[::-1] #tuples cannot be modified

TypeError: 'set' object is not subscriptable

In [ ]:
dictionary = {"key":"value", "another":"value"}
print(dictionary["key"])
print(dictionary)

value
{'key': 'value', 'another': 'value'}

Operations

In [ ]:
add= 2+2
add

4

In [ ]:
add_str="kushal "+"loya"
add_str

'kushal loya'

In [ ]:
add_list=[1,2,3,4]+[8,9,0]
add_list

[1, 2, 3, 4, 8, 9, 0]

In [ ]:
add_tuple={1,2,3,4}+{5,6,7}   #can't add them
add_tuple

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
mult= 3*4
mult

12

In [ ]:
mult_str="kushal"*3
mult_str

'kushalkushalkushal'

In [ ]:
mult_list=[1,2,3]*2
mult_list

[1, 2, 3, 1, 2, 3]

In [ ]:
div=3/2
div

1.5

In [ ]:
zero_div=3/0
zero_div

ZeroDivisionError: division by zero

In [ ]:
modulo=10%3
modulo

1

In [ ]:
floor_div=7//2   #gives the greatest multiple
floor_div

3

In [ ]:
print(3==3 & 2==5)
print(3<4 | 3>4)
print(3>4)

False
True
False

In [ ]:
int(5.2)   # wrapping and transforming datatypes

5

Functions

In [ ]:
def function_name(x,y,z):
    x=3
    y=6
    z=8
    return x+y+z

In [ ]:
function_name(2,3,4)

17

Importing Numpy Library

In [ ]:
import numpy

In [ ]:
numpy.__version__

'1.25.1'

In [ ]:
import numpy as np

In [ ]:
np.__version__

'1.25.1'

In [ ]:
np.array([1,2,3])

array([1, 2, 3])

In [ ]:
the_list= list(range(3,15))
print(the_list)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

for loop

In [ ]:
for i in the_list:
    print("i is now:",i)
    i+=1
    print(i)

i is now: 3
4
i is now: 4
5
i is now: 5
6
i is now: 6
7
i is now: 7
8
i is now: 8
9
i is now: 9
10
i is now: 10
11
i is now: 11
12
i is now: 12
13
i is now: 13
14
i is now: 14
15

while loop

In [ ]:
x=0
while x<5:
    print("value of x is:", x)
    x+=1
    print(x)

value of x is: 0
1
value of x is: 1
2
value of x is: 2
3
value of x is: 3
4
value of x is: 4
5

if/elif loop

In [ ]:
x=3
y=4

if x==y:
    print("equal")

elif x>y:
    print("x>y")

else:
    print("x<y")

x<y

try-except   *specifically used to avoid errors*

In [ ]:
try:
    2/0 
except ZeroDivisionError:
    print("Bruh...you can't divide by zero")

Bruh...you can't divide by zero